<div class="container">
  <div>
    <h3>Add a process</h3>
    <form [formGroup]="addNewProcessFormGroup" (ngSubmit)="addNewProcess()">

      <div class="row">
        <div class="form-group col-12">
          <label for="processName">Process Name</label>
          <input class="form-control" id="processName" [formControl]="processName">
          <div class="alert alert-danger" *ngIf="processName.invalid && processName.touched">
            <div *ngIf="processName.errors.required">Please enter the process name</div>
          </div>
        </div>
      </div>

      <div class="row">


        <div class="form-group col-4">
          <label for="customer">Customer</label>
          <select class="form-control" [formControl]="customer">
            <option *ngFor="let item of customers" [value]="item.customerId">
              {{item.customerName}}
            </option>
          </select>
          <div class="alert alert-danger" *ngIf="customer.invalid && customer.touched">
            <div *ngIf="customer.errors.required">Please select the customer</div>
          </div>
        </div>

        <div class="form-group col-4">
          <label for="applicationType">Application Type</label>
          <select class="form-control" [formControl]="applicationType">
            <option *ngFor="let item of applicationTypes" [value]="item.applicationTypeId">
              {{item.applicationTypeName}}
            </option>
          </select>
          <div class="alert alert-danger" *ngIf="applicationType.invalid && applicationType.touched">
            <div *ngIf="applicationType.errors.required">Please select the application type</div>
          </div>
        </div>

        <div class="form-group col-4">
          <label for="applicationType">business Domain</label>
          <select class="form-control" [formControl]="businessDomain">
            <option *ngFor="let item of businessDomains" [value]="item.businessDomainId">
              {{item.businessDomainName}}
            </option>
          </select>
          <div class="alert alert-danger" *ngIf="businessDomain.invalid && businessDomain.touched">
            <div *ngIf="businessDomain.errors.required">Please select the Business Domain</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-3">
          <label for="ProductivityAnalyst">Productivity Analyst</label>
          <select class="form-control" [formControl]="productivityAnalyst">
            <option *ngFor="let item of productivityAnalysts" [value]="item.productivityAnalystId">
              {{item.productivityAnalystName}}
            </option>
          </select>
          <div class="alert alert-danger" *ngIf="productivityAnalyst.invalid && productivityAnalyst.touched">
            <div *ngIf="productivityAnalyst.errors.required">Please select the productivity analyst</div>
          </div>
        </div>

        <div class="form-group col-3">
          <label for="project">Project</label>
          <select class="form-control" [formControl]="project">
            <option *ngFor="let item of projects" [value]="item.projectId">
              {{item.projectName}}
            </option>
          </select>
          <div class="alert alert-danger" *ngIf="project.invalid && project.touched">
            <div *ngIf="project.errors.required">Please select the project</div>
          </div>
        </div>

        <div class="form-group col-3">
          <label for="project">Technology</label>
          <select class="form-control" [formControl]="technology">
            <option *ngFor="let item of technologies" [value]="item.technologyId">
              {{item.technologyName}}
            </option>
          </select>
          <div class="alert alert-danger" *ngIf="technology.invalid && technology.touched">
            <div *ngIf="technology.errors.required">Please select the technology</div>
          </div>
        </div>

        <div class="form-group col-3">
          <label for="project">Delivery Line</label>
          <select class="form-control" [formControl]="RPA_Type">
            <option *ngFor="let item of rpaTypes" [value]="item.rpaTypeId">
              {{item.rpaTypeName}}
            </option>
          </select>
          <div class="alert alert-danger" *ngIf="RPA_Type.invalid && RPA_Type.touched">
            <div *ngIf="RPA_Type.errors.required">Please select the RPA type</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-4">
          <label for="project">Target System</label>
          <input [formControl]="targetSystem" class="form-control" type="number">
          <div class="alert alert-danger" *ngIf="targetSystem.invalid && targetSystem.touched">
            <div *ngIf="targetSystem.errors.required">Please enter the number of the target systems</div>
          </div>
        </div>



        <div class="form-group col-4">
          <label for="baseline">Baseline Productivity FP</label>
          <select class="form-control" [formControl]="baseline">
            <option *ngFor="let item of baselines" [value]="item.baseLineId">{{item.baselineProdFp}}</option>
          </select>
          <div class="alert alert-danger" *ngIf="baseline.invalid && baseline.touched">
            <div *ngIf="baseline.errors.required">Please enter the baseline </div>
          </div>
        </div>

        <div class="form-group col-4">
          <label>Citrix</label>
          <select class="form-control" [formControl]="citrix">
            <option value="1">Yes</option>
            <option value="0">No</option>
          </select>
          <div class="alert alert-danger" *ngIf="citrix.invalid && citrix.touched">
            <div *ngIf="citrix.errors.required">Please select the citrix usage</div>
          </div>
        </div>
      </div>
      <button class="btn btn-primary float-right" type="submit" [disabled]="(addNewProcessFormGroup.invalid && addNewProcessFormGroup.touched) || (!addNewProcessFormGroup.touched)">Add</button>
    </form>
  </div>
</div>

<h3>Existing Processes</h3>
<mat-form-field class="col-12">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
</mat-form-field>
<div class="example-container mat-elevation-z8">

  <table mat-table [dataSource]="dataSource">

    <!-- Name Column -->
    <ng-container matColumnDef="ProcessName" sticky>
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element">
        <a [routerLink]="['process', element.processId]">{{element.processName}}</a>
      </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="Customer">
      <th mat-header-cell *matHeaderCellDef> Customer </th>
      <td mat-cell *matCellDef="let element"> {{element.fkCustomer.customerName}} </td>
    </ng-container>

    <!-- Weight Column
    <ng-container matColumnDef="Applicationtype">
      <th mat-header-cell *matHeaderCellDef> Application type </th>
      <td mat-cell *matCellDef="let element"> {{element.fKapplicationType.applicationTypeName}} </td>
    </ng-container> -->

    <!-- Symbol Column
    <ng-container matColumnDef="businessDomain">
      <th mat-header-cell *matHeaderCellDef> Business Domain </th>
      <td mat-cell *matCellDef="let element"> {{element.fKBusinessDomain.businessDomainName}} </td>
    </ng-container> -->

    <!-- Symbol Column -->
    <ng-container matColumnDef="productivityAnalyst">
      <th mat-header-cell *matHeaderCellDef> Productivity Analyst </th>
      <td mat-cell *matCellDef="let element"> {{element.fkProductivityAnalyst.productivityAnalystName}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="Project">
      <th mat-header-cell *matHeaderCellDef> Project </th>
      <td mat-cell *matCellDef="let element"> {{element.fkProject.projectName}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="technology">
      <th mat-header-cell *matHeaderCellDef> Technology </th>
      <td mat-cell *matCellDef="let element"> {{element.technology?.technologyName}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="rpaType">
      <th mat-header-cell *matHeaderCellDef> Delivery Line </th>
      <td mat-cell *matCellDef="let element"> {{element.fkRpaType?.rpaTypeName}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="targetSystem">
      <th mat-header-cell *matHeaderCellDef> Target System </th>
      <td mat-cell *matCellDef="let element"> {{element.targetSystemId}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="baseline">
      <th mat-header-cell *matHeaderCellDef> Baseline Productivity FP</th>
      <td mat-cell *matCellDef="let element"> {{element.baseline.baselineProdFp}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
