<div id="addNewItemContainer">
  <h3>Add new baseline</h3>
  <form [formGroup]="addBaseLineFormGroup" (ngSubmit)="addBaseLine()">
    <div class="form-group">
      <label>baselineProdFp</label>
      <input [formControl]="baselineProdFp" class="form-control" type="number">
    </div>

    <div class="form-group">
      <label>marketAvgProdFp</label>
      <input class="form-control" [formControl]="marketAvgProdFp">
    </div>

    <div class="form-group">
      <label>targetProdFp</label>
      <input class="form-control" [formControl]="targetProdFp">
    </div>

    <div class="form-group">
      <label>fiscalYear</label>
      <select class="form-control" [formControl]="fiscalYear">
        <option *ngFor="let item of fiscalYears" [value]="item.fiscalYearId">{{item.fiscalYearName}}</option>
      </select>
    </div>

    <button class="btn btn-primary" type="submit">Add</button>

  </form>
</div>

<div class="mat-elevation-z8">
  <h4>Existing Baseline</h4>
  <table mat-table [dataSource]="dataSource">


    <ng-container matColumnDef="baselineProdFp">
      <th mat-header-cell *matHeaderCellDef class="text-center">baselineProdFp</th>
      <td mat-cell *matCellDef="let element" class="text-center">
        <input class="form-control"
        #baselineProdFp
          (change)="updateItem(element.baselineId, baselineProdFp.value, element.marketAvgProdFp, element.targetProdFp, element.fiscalYearId)"
          [value]="element.baselineProdFp">
      </td>
    </ng-container>

    <ng-container matColumnDef="marketAvgProdFp">
      <th mat-header-cell *matHeaderCellDef class="text-center">marketAvgProdFp</th>
      <td mat-cell *matCellDef="let element" class="text-center">
        <input class="form-control"
        #marketAvgProdFp
          (change)="updateItem(element.baselineId, element.baselineProdFp, marketAvgProdFp.value, element.targetProdFp, element.fiscalYearId)"
          [value]="element.marketAvgProdFp">
      </td>
    </ng-container>

    <ng-container matColumnDef="targetProdFp">
      <th mat-header-cell *matHeaderCellDef class="text-center">marketAvgProdFp</th>
      <td mat-cell *matCellDef="let element" class="text-center">
        <input class="form-control"
        #targetProdFp
          (change)="updateItem(element.baselineId, element.baselineProdFp,
          marketAvgProdFp.value, targetProdFp.value, element.fiscalYearId)"
          [value]="element.targetProdFp">
      </td>
    </ng-container>

    <ng-container matColumnDef="fiscalYear">
      <th mat-header-cell *matHeaderCellDef class="text-center">fiscalYear</th>
      <td mat-cell *matCellDef="let element" class="text-center">
        <select class="form-control"
        #fiscalYear
          (change)="updateItem(element.baselineId, element.baselineProdFp,
          marketAvgProdFp.value, targetProdFp.value, element.fiscalYearId)"
          [value]="element.targetProdFp">
          <option *ngFor="let item of fiscalYears" [value]="item.fiscalYearId">{{item.fiscalYearName}}</option>
        </select>
      </td>
    </ng-container>


    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Delete </th>
      <td mat-cell *matCellDef="let element">
        <button class="btn btn-danger" (click)="deleteItem(element.baselineId)">Delete</button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
