<div id="addNewItemContainer">
  <form [formGroup]="addNewTransactionTypeFormGroup" (ngSubmit)="add()">
    <div class="form-group">
      <label>Transaction Name</label>
      <select class="form-control" [formControl]="transactionType">
        <option *ngFor="let item of transactionTypes" [ngValue]="item.transactionTypeId">
          {{item.transactionTypeName}}
        </option>
      </select>
      <div class="alert alert-danger" *ngIf="transactionType.touched && transactionType.invalid">
        <div *ngIf="transactionType.errors.required">The Transaction Type is required.</div>
      </div>
    </div>

    <div class="form-group">
      <label>Value</label>
      <input class="form-control" [formControl]="value">
      <div class="alert alert-danger" *ngIf="value.touched && value.invalid">
        <div *ngIf="value.errors.required">The Value is required</div>
        <div *ngIf="value.errors.pattern">The value must be numeric value</div>
      </div>
    </div>

    <button class="btn btn-primary" type="submit">Add</button>

  </form>
</div>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">


    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef class="text-center">Transaction</th>
      <td mat-cell *matCellDef="let element" class="text-center">
        <select class="form-control" #transactionTypeName
          (change)="update(element.transactionTypeValueID, element.value, transactionTypeName.value)">
          <option [value]="element.transactionTypeDTO.transactionTypeId">
            {{element.transactionTypeDTO.transactionTypeName}}
          </option>
          <option *ngFor="let item of transactionTypes" [value]="item.transactionTypeId">
            {{item.transactionTypeName}}
          </option>
        </select>
      </td>
    </ng-container>


    <ng-container matColumnDef="Value">
      <th mat-header-cell *matHeaderCellDef class="text-center">Value</th>
      <td mat-cell *matCellDef="let element" class="text-center">
        <input class="form-control" [value]="element.value" #value
          (change)="update(element.transactionTypeValueId, value.value, element.transactionTypeId)">
      </td>
    </ng-container>


    <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef class="text-center"> Delete </th>
      <td mat-cell *matCellDef="let element" class="text-center">
        <button class="btn btn-danger" (click)="delete(element.transactionTypeValueId)">Delete</button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
