 <!-- Navigation-->
 <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
  <div class="container">
      <a class="navbar-brand js-scroll-trigger" [routerLink]="['/']" >TAWSILTY</a><button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">Menu <i class="fas fa-bars"></i></button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">Portfolio</a></li>
              <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">About</a></li>
              <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">How It works</a></li>
              <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#safety">Safety Insurance</a></li>
          </ul>
          <ul class="navbar-nav ml-auto float-right">
            <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" [routerLink]="['login']">Join Us</a></li>
            <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" [routerLink]="['ar']">العربية</a></li>
          </ul>
      </div>
  </div>
</nav>
<!-- Masthead-->
<header class="masthead bg-primary text-white text-center">
  <div class="container d-flex align-items-center flex-column">
      <!-- Masthead Avatar Image-->
      <!-- <img class="masthead-avatar mb-5" src="assets/img/avataaars.svg" alt="" /> -->
      <!-- Masthead Heading-->
      <h1 class="masthead-heading text-uppercase mb-0">Great things start with a reliable ride</h1>
      <!-- Icon Divider-->
      <div class="divider-custom divider-light">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
          <div class="divider-custom-line"></div>
      </div>
      <!-- Masthead Subheading-->
      <p class="masthead-subheading font-weight-light mb-0">The best - Cheapest - Safest</p>
      <p class="masthead-subheading font-weight-light mb-0">Ride you can get.</p>
  </div>
</header>
<!-- Portfolio Section-->
<section class="page-section portfolio" id="portfolio">
  <div class="container">
      <!-- Portfolio Section Heading-->
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Portfolio</h2>
      <!-- Icon Divider-->
      <div class="divider-custom">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
          <div class="divider-custom-line"></div>
      </div>
      <!-- Portfolio Grid Items-->
      <div class="row">
          <!-- Portfolio Item 1-->
          <div class="col-md-6 col-lg-4 mb-5">
              <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
                  <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                      <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                  </div>
                  <img class="img-fluid" src="assets/img/New folder/1.jpg" alt="" />
              </div>
          </div>
          <!-- Portfolio Item 2-->
          <div class="col-md-6 col-lg-4 mb-5">
              <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
                  <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                      <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                  </div>
                  <img class="img-fluid" src="assets/img/New folder/2.jpg" alt="" />
              </div>
          </div>
          <!-- Portfolio Item 3-->
          <div class="col-md-6 col-lg-4 mb-5">
              <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal3">
                  <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                      <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                  </div>
                  <img class="img-fluid" src="assets/img/New folder/3.jpg" alt="" />
              </div>
          </div>
          <!-- Portfolio Item 4-->
          <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
              <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal4">
                  <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                      <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                  </div>
                  <img class="img-fluid" src="assets/img/New folder/4.jpg" alt="" />
              </div>
          </div>
          <!-- Portfolio Item 5-->
          <div class="col-md-6 col-lg-4 mb-5 mb-md-0">
              <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal5">
                  <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                      <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                  </div>
                  <img class="img-fluid" src="assets/img/New folder/5.jpg" alt="" />
              </div>
          </div>
          <!-- Portfolio Item 6-->
          <div class="col-md-6 col-lg-4">
              <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal6">
                  <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                      <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                  </div>
                  <img class="img-fluid" src="assets/img/New folder/6.jpg" alt="" />
              </div>
          </div>
      </div>
  </div>
</section>
<!-- About Section-->
<section class="page-section bg-primary text-white mb-0" id="about">
  <div class="container">
      <!-- About Section Heading-->
      <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>
      <!-- Icon Divider-->
      <div class="divider-custom divider-light">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
          <div class="divider-custom-line"></div>
      </div>
      <!-- About Section Content-->
      <div class="row">
          <div class="col-lg-8 ml-auto mr-auto">
              <p class="lead">
                  Tawsila is a Carpooling application (also known as ride sharing or car sharing) is a straightforward and
                  practical concept: some people share a ride so that more than one person travels in a car. The advantages
                  are fantastic, and if you’re already a user, you know everything about them. If that’s not the case, you
                  should be aware of what you’re missing. After finding out, you might join the network.
              </p>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-4 ml-auto">
              <p class="lead">
                  Our vision is to become the world’s most used and most trustable carpooling application.
              </p>
          </div>
          <div class="col-lg-4 mr-auto">
              <p class="lead">
                  Our mission is that the application’s clever use helps to exceed users’ expectations, this will improve
                  people’s lives.
              </p>
          </div>
      </div>
      <!-- About Section Button-->
      <div class="text-center mt-4">
          <a class="btn btn-xl btn-outline-light" href="#"><i class="fas fa-download mr-2"></i>Download Mobile App!</a>
      </div>
  </div>
</section>
<!-- Contact Section-->
<section class="page-section" id="contact">
  <div class="container">
      <!-- Contact Section Heading-->
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">How It works</h2>
      <!-- Icon Divider-->
      <div class="divider-custom">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
          <div class="divider-custom-line"></div>
      </div>
      <!-- Contact Section Form-->

      <div class="row">
          <div class="col-lg-4 mx-auto">
              <div class="card" style="width: 18rem;">

                  <div class="card-body">
                    <h5 class="card-title">1. Send Rides</h5>
                    <p class="card-text">When the passengers need a ride they send a request to the available drivers.</p>

                  </div>
              </div>
          </div>
          <div class="col-lg-4 mx-auto">
              <div class="card" style="width: 18rem;">

                  <div class="card-body">
                    <h5 class="card-title">2. Recive Requests</h5>
                    <p class="card-text">Drivers receive requests and accept the suitable requests.</p>

                  </div>
                </div>
          </div>
          <div class="col-lg-4 mx-auto">
              <div class="card" style="width: 18rem;">

                  <div class="card-body">
                    <h5 class="card-title">3. Trip Ended</h5>
                    <p class="card-text">Both driver and passenger must press ending trip. The passenger gets a receipt for the cost on his application, after accepting the cash will transfer from his wallet to driver’s wallet.</p>
                  </div>
                </div>
          </div>
          <div class="col-lg-4 mx-auto">
              <div class="card" style="width: 18rem;">

                  <div class="card-body">
                    <h5 class="card-title">4. Passenger review</h5>
                    <p class="card-text">After the trip ended your review can help us and other passengers.</p>

                  </div>
                </div>
          </div>
      </div>

  </div>
</section>
<!-- Contact Section-->
<section class="page-section bg-primary" id="safety">
  <div class="container">
      <!-- Contact Section Heading-->
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Safety Insurance</h2>
      <!-- Icon Divider-->
      <div class="divider-custom">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
          <div class="divider-custom-line"></div>
      </div>
      <!-- Contact Section Form-->
      <div class="row">
          <div class="col-lg-4 mx-auto">
              <div class="card" style="width: 18rem;">

                  <div class="card-body">
                    <h5 class="card-title">Share Location</h5>
                    <p class="card-text">you must feel comfortable riding or driving at day or night. So you can share loved ones where you’re going, someone to turn to if anything happens.</p>

                  </div>
              </div>
          </div>
          <div class="col-lg-4 mx-auto">
              <div class="card" style="width: 18rem;">

                  <div class="card-body">
                    <h5 class="card-title">Trip Recording</h5>
                    <p class="card-text">All Tawsila rides are tracked from start to finish, so there’s a record of your trip if something happens.</p>

                  </div>
                </div>
          </div>
          <div class="col-lg-4 mx-auto">
              <div class="card" style="width: 18rem;">

                  <div class="card-body">
                    <h5 class="card-title">Two Way Rating</h5>
                    <p class="card-text">Your feedback matters. Low-rated trips are logged, and users may be removed to protect Tawsila community.</p>
                  </div>
                </div>
          </div>
          <div class="col-lg-4 mx-auto">
              <div class="card" style="width: 18rem;">

                  <div class="card-body">
                    <h5 class="card-title">Ride Check</h5>
                    <p class="card-text">Using sensors and GPS data, RideCheck can help detect if a trip has an unexpected long stop. If so, we'll check on you and offer tools to get help.</p>

                  </div>
                </div>
          </div>
      </div>
  </div>
</section>
<!-- Footer-->
<footer class="footer text-center">
  <div class="container">
      <div class="row">
          <!-- Footer Location-->
          <div class="col-lg-4 mb-5 mb-lg-0">
              <h4 class="text-uppercase mb-4">Location</h4>
              <p class="lead mb-0">2215 John Daniel Drive<br />Clark, MO 65243</p>
          </div>
          <!-- Footer Social Icons-->
          <div class="col-lg-4 mb-5 mb-lg-0">
              <h4 class="text-uppercase mb-4">Around the Web</h4>
              <a class="btn btn-outline-light btn-social mx-1" href="#"><i class="fab fa-fw fa-facebook-f"></i></a><a class="btn btn-outline-light btn-social mx-1" href="#"><i class="fab fa-fw fa-twitter"></i></a><a class="btn btn-outline-light btn-social mx-1" href="#"><i class="fab fa-fw fa-linkedin-in"></i></a><a class="btn btn-outline-light btn-social mx-1" href="#"><i class="fab fa-fw fa-dribbble"></i></a>
          </div>
          <!-- Footer About Text-->
          <div class="col-lg-4">
              <h4 class="text-uppercase mb-4">About Tawsila</h4>
              <p class="lead mb-0">we are a new company looking for the best, cheapest and safest ride you can get.</p>
          </div>
      </div>
  </div>
</footer>
<!-- Copyright Section-->
<section class="copyright py-4 text-center text-white">
  <div class="container"><small>Copyright © TAWSILTY 2020</small></div>
</section>
<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
<div class="scroll-to-top d-lg-none position-fixed">
  <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top"><i class="fa fa-chevron-up"></i></a>
</div>
<!-- Portfolio Modals--><!-- Portfolio Modal 1-->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"><i class="fas fa-times"></i></span>
          </button>
          <div class="modal-body text-center">
              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-lg-8">
                          <!-- Portfolio Modal - Title-->
                          <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0"></h2>
                          <!-- Icon Divider-->
                          <div class="divider-custom">
                              <div class="divider-custom-line"></div>
                              <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                              <div class="divider-custom-line"></div>
                          </div>
                          <!-- Portfolio Modal - Image--><img class="img-fluid rounded mb-5" src="assets/img/New folder/1.jpg" alt="" /><!-- Portfolio Modal - Text-->
                          <p class="mb-5"></p>
                          <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Close Window</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Portfolio Modal 2-->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-labelledby="portfolioModal2Label" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"><i class="fas fa-times"></i></span>
          </button>
          <div class="modal-body text-center">
              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-lg-8">
                          <!-- Portfolio Modal - Title-->
                          <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0"></h2>
                          <!-- Icon Divider-->
                          <div class="divider-custom">
                              <div class="divider-custom-line"></div>
                              <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                              <div class="divider-custom-line"></div>
                          </div>
                          <!-- Portfolio Modal - Image--><img class="img-fluid rounded mb-5" src="assets/img/New folder/2.jpg" alt="" /><!-- Portfolio Modal - Text-->
                          <p class="mb-5"></p>
                          <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Close Window</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Portfolio Modal 3-->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-labelledby="portfolioModal3Label" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"><i class="fas fa-times"></i></span>
          </button>
          <div class="modal-body text-center">
              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-lg-8">
                          <!-- Portfolio Modal - Title-->
                          <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0"></h2>
                          <!-- Icon Divider-->
                          <div class="divider-custom">
                              <div class="divider-custom-line"></div>
                              <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                              <div class="divider-custom-line"></div>
                          </div>
                          <!-- Portfolio Modal - Image--><img class="img-fluid rounded mb-5" src="assets/img/New folder/3.jpg" alt="" /><!-- Portfolio Modal - Text-->
                          <p class="mb-5"></p>
                          <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Close Window</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Portfolio Modal 4-->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-labelledby="portfolioModal4Label" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"><i class="fas fa-times"></i></span>
          </button>
          <div class="modal-body text-center">
              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-lg-8">
                          <!-- Portfolio Modal - Title-->
                          <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0"></h2>
                          <!-- Icon Divider-->
                          <div class="divider-custom">
                              <div class="divider-custom-line"></div>
                              <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                              <div class="divider-custom-line"></div>
                          </div>
                          <!-- Portfolio Modal - Image--><img class="img-fluid rounded mb-5" src="assets/img/New folder/4.jpg" alt="" /><!-- Portfolio Modal - Text-->
                          <p class="mb-5"></p>
                          <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Close Window</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Portfolio Modal 5-->
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-labelledby="portfolioModal5Label" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"><i class="fas fa-times"></i></span>
          </button>
          <div class="modal-body text-center">
              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-lg-8">
                          <!-- Portfolio Modal - Title-->
                          <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0"></h2>
                          <!-- Icon Divider-->
                          <div class="divider-custom">
                              <div class="divider-custom-line"></div>
                              <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                              <div class="divider-custom-line"></div>
                          </div>
                          <!-- Portfolio Modal - Image--><img class="img-fluid rounded mb-5" src="assets/img/New folder/5.jpg" alt="" /><!-- Portfolio Modal - Text-->
                          <p class="mb-5"></p>
                          <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Close Window</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Portfolio Modal 6-->
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-labelledby="portfolioModal6Label" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"><i class="fas fa-times"></i></span>
          </button>
          <div class="modal-body text-center">
              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-lg-8">
                          <!-- Portfolio Modal - Title-->
                          <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0"></h2>
                          <!-- Icon Divider-->
                          <div class="divider-custom">
                              <div class="divider-custom-line"></div>
                              <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                              <div class="divider-custom-line"></div>
                          </div>
                          <!-- Portfolio Modal - Image--><img class="img-fluid rounded mb-5" src="assets/img/New folder/6.jpg" alt="" /><!-- Portfolio Modal - Text-->
                          <p class="mb-5"></p>
                          <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Close Window</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
