<div class="container">
  <mat-tab-group>
    <mat-tab label="Application Type">
      <app-application-type-datatable></app-application-type-datatable>
    </mat-tab>
    <mat-tab label="Attachment Type">
      <app-attachment-type-datatable></app-attachment-type-datatable>
    </mat-tab>
    <mat-tab label="PProcesses">
      <app-add-process></app-add-process>
    </mat-tab>
    <mat-tab label="Business Domain">
      <app-business-domain-datatable></app-business-domain-datatable>
    </mat-tab>
    <mat-tab label="Customer">
      <app-customers-datatable></app-customers-datatable>
    </mat-tab>
    <mat-tab label="Fiscal Year">
      <app-fiscal-years-datatable></app-fiscal-years-datatable>
    </mat-tab>
    <mat-tab label="Productivity Analyst">
      <app-productivity-analysts-datatable></app-productivity-analysts-datatable>
    </mat-tab>
    <!-- <mat-tab label="Project">
      <app-project-datatable></app-project-datatable>
    </mat-tab> -->
    <mat-tab label="RPA Type">
      <app-rpa-types-datatable></app-rpa-types-datatable>
    </mat-tab>
    <mat-tab label="Target System">
      <app-target-system-datatable></app-target-system-datatable>
    </mat-tab>
    <mat-tab label="Technology">
      <app-technology-datatable></app-technology-datatable>
    </mat-tab>
    <mat-tab label="Transaction Type">
      <app-transaction-type-datatable></app-transaction-type-datatable>
    </mat-tab>
    <mat-tab label="Transaction Type Value">
      <app-transaction-type-value-datatable></app-transaction-type-value-datatable>
    </mat-tab>
  </mat-tab-group>
</div>
