<div class="container">
  <h3>Add User Stories</h3>
  <form [formGroup]="userStoriesFormGroup" (ngSubmit)="addUserStory()">
    <!-- Version Name -->
    <div class="form-group">
      <label>Version Name</label>
      <input
      class="form-control"
      [formControl]="version"
      disabled>
    </div>

    <!-- User Story Name -->
    <div class="form-group">
      <label for="userStoryName">User Story</label>
      <input class="form-control"
      id="userStoryName"
      [formControl]="userStoryName">
      <div class="alert alert-danger" *ngIf="userStoryName.invalid && userStoryName.touched">
        <div *ngIf="userStoryName.errors.required">The user story is required.</div>
      </div>
    </div>

    <h4>Transactions</h4>

    <div class="row">
      <div class="col-3 form-group">
        <label>IT Count</label>
        <input class="form-control" type="number" [formControl]="itCount">
      </div>
      <div class="col-3 form-group">
        <label>IT Complexity</label>
        <select [formControl]="it" class="form-control">
          <option *ngFor="let item of inputs" [value]="item.value">{{item.transactionTypeDTO.transactionTypeName}}</option>
        </select>
      </div>
      <div class="col-3 form-group">
        <label>IA Count</label>
        <input class="form-control" type="number" [formControl]="iaCount">
      </div>
      <div class="col-3 form-group">
        <label>IA Complexity</label>
        <select [formControl]="ia" class="form-control">
          <option *ngFor="let item of inputs" [value]="item.value">{{item.transactionTypeDTO.transactionTypeName}}</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-3 form-group">
        <label>OT Count</label>
        <input class="form-control" type="number" [formControl]="otCount">
      </div>
      <div class="col-3 form-group">
        <label>OT Complexity</label>
        <select [formControl]="ot" class="form-control">
          <option *ngFor="let item of outputs" [value]="item.value">{{item.transactionTypeDTO.transactionTypeName}}</option>
        </select>
      </div>
      <div class="col-3 form-group">
        <label>OA Count</label>
        <input class="form-control" type="number" [formControl]="oaCount">
      </div>
      <div class="col-3 form-group">
        <label>OA Complexity</label>
        <select [formControl]="oa" class="form-control">
          <option *ngFor="let item of outputs" [value]="item.value">{{item.transactionTypeDTO.transactionTypeName}}</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-3 form-group">
        <label>ET Count</label>
        <input class="form-control" type="number" [formControl]="etCount">
      </div>
      <div class="col-3 form-group">
        <label>ET Complexity</label>
        <select [formControl]="et" class="form-control">
          <option *ngFor="let item of enquiry" [value]="item.value">{{item.transactionTypeDTO.transactionTypeName}}</option>
        </select>
      </div>
      <div class="col-3 form-group">
        <label>BR Count</label>
        <input class="form-control" type="number" [formControl]="brCount">
      </div>
      <div class="col-3 form-group">
        <label>BR Complexity</label>
        <select [formControl]="br" class="form-control">
          <option *ngFor="let item of businessRules" [value]="item.value">{{item.transactionTypeDTO.transactionTypeName}}</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-3 form-group">
        <label>IDG Count</label>
        <input class="form-control" type="number" [formControl]="idgCount">
      </div>
      <div class="col-3 form-group">
        <label>IDG Complexity</label>
        <select [formControl]="idg" class="form-control">
          <option *ngFor="let item of idgs" [value]="item.value">{{item.transactionTypeDTO.transactionTypeName}}</option>
        </select>
      </div>
      <div class="col-3 form-group">
        <label>EDG Count</label>
        <input class="form-control" type="number" [formControl]="edgCount">
      </div>
      <div class="col-3 form-group">
        <label>EDG Complexity</label>
        <select [formControl]="edg" class="form-control">
          <option *ngFor="let item of edgs" [value]="item.value">{{item.transactionTypeDTO.transactionTypeName}}</option>
        </select>
      </div>
    </div>

    <button class="float-right btn btn-primary" type="submit">Add user story</button>
  </form>
  <app-upload-attachment-bottom-sheet [versionId]="currentVersion?.versionId"></app-upload-attachment-bottom-sheet>
</div>
