<div class="container">
  <div>
    <h3>Edit process</h3>
    <form [formGroup]="updateProcessFormGroup" (ngSubmit)="updateProcess()">

      <div class="row">
        <div class="form-group col-12">
          <label for="processName">Process Name</label>
          <input class="form-control" id="processName" [formControl]="processName">
          <div class="alert alert-danger" *ngIf="processName.invalid && processName.touched">
            <div *ngIf="processName.errors.required">Please enter the process name</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-4">
          <label for="customer">Customer</label>
          <select class="form-control" [formControl]="customer">
            <option *ngFor="let item of customers" [ngValue]="item.customerId">
              {{item.customerName}}
            </option>
          </select>
          <div class="alert alert-danger" *ngIf="customer.invalid && customer.touched">
            <div *ngIf="customer.errors.required">Please select the customer</div>
          </div>
        </div>

        <div class="form-group col-4">
          <label for="applicationType">Application Type</label>
          <select class="form-control" [formControl]="applicationType">
            <option *ngFor="let item of applicationTypes" [ngValue]="item.applicationTypeId">
              {{item.applicationTypeName}}
            </option>
          </select>
          <div class="alert alert-danger" *ngIf="applicationType.invalid && applicationType.touched">
            <div *ngIf="applicationType.errors.required">Please select the application type</div>
          </div>
        </div>

        <div class="form-group col-4">
          <label for="applicationType">business Domain</label>
          <select class="form-control" [formControl]="businessDomain">
            <option *ngFor="let item of businessDomains" [ngValue]="item.businessDomainId">
              {{item.businessDomainName}}
            </option>
          </select>
          <div class="alert alert-danger" *ngIf="businessDomain.invalid && businessDomain.touched">
            <div *ngIf="businessDomain.errors.required">Please select the Business Domain</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-3">
          <label for="ProductivityAnalyst">Productivity Analyst</label>
          <select class="form-control" [formControl]="productivityAnalyst">
            <option *ngFor="let item of productivityAnalysts" [ngValue]="item.productivityAnalystId">
              {{item.productivityAnalystName}}
            </option>
          </select>
          <div class="alert alert-danger" *ngIf="productivityAnalyst.invalid && productivityAnalyst.touched">
            <div *ngIf="productivityAnalyst.errors.required">Please select the productivity analyst</div>
          </div>
        </div>

        <div class="form-group col-3">
          <label for="project">Project</label>
          <select class="form-control" [formControl]="project">
            <option *ngFor="let item of projects" [value]="item.projectId">
              {{item.projectName}}
            </option>
          </select>
          <div class="alert alert-danger" *ngIf="project.invalid && project.touched">
            <div *ngIf="project.errors.required">Please select the project</div>
          </div>
        </div>

        <div class="form-group col-3">
          <label for="project">Technology</label>
          <select class="form-control" [formControl]="technology">
            <option *ngFor="let item of technologies" [value]="item.technologyId">
              {{item.technologyName}}
            </option>
          </select>
          <div class="alert alert-danger" *ngIf="technology.invalid && technology.touched">
            <div *ngIf="technology.errors.required">Please select the technology</div>
          </div>
        </div>

        <div class="form-group col-3">
          <label for="project">Delivery Line</label>
          <select class="form-control" [formControl]="RPA_Type">
            <option *ngFor="let item of rpaTypes" [value]="item.rpaTypeId">
              {{item.rpaTypeName}}
            </option>
          </select>
          <div class="alert alert-danger" *ngIf="RPA_Type.invalid && RPA_Type.touched">
            <div *ngIf="RPA_Type.errors.required">Please select the RPA type</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-4">
          <label for="project">Target System</label>
          <input [formControl]="targetSystem" class="form-control" type="number">
          <div class="alert alert-danger" *ngIf="targetSystem.invalid && targetSystem.touched">
            <div *ngIf="targetSystem.errors.required">Please enter the number of the target systems</div>
          </div>
        </div>

        <div class="form-group col-4">
          <label for="baseline">Baseline</label>
          <select class="form-control" [formControl]="baseline">
            <option *ngFor="let item of baselines" [value]="item.baseLineId">{{item.baselineProdFp}}</option>
          </select>
          <div class="alert alert-danger" *ngIf="baseline.invalid && baseline.touched">
            <div *ngIf="baseline.errors.required">Please enter the baseline </div>
          </div>
        </div>

        <div class="form-group col-4">
          <label>Citrix</label>
          <select class="form-control" [formControl]="citrix">
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
          <div class="alert alert-danger" *ngIf="citrix.invalid && citrix.touched">
            <div *ngIf="citrix.errors.required">Please select the citrix usage</div>
          </div>
        </div>
      </div>
      <button class="btn btn-primary float-right" type="submit" >Save Changes</button>
    </form>
  </div>
</div>
