<header>
  <nav class="navbar navbar-expand-lg navbar-light electric-red-background">
    <a class="navbar-brand" [routerLink]="['/']">
      <span><img src="../../assets/images/_vois_logo.png"></span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav col-11">
        <li class="nav-item active">
          <a class="nav-link white-color" [routerLink]="['home']">Home</a>
        </li>
        <li class="nav-item dropdown" >
          <a class="nav-link dropdown-toggle" id="navbarDropdownProjects" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Projects</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownProjects">
            <a class="dropdown-item" [routerLink]="['add-view-project']">Add/view Projects</a>
          </div>
        </li>
        <li class="nav-item dropdown" >
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sizing</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['add-new-process']">Add new PDD/SDD</a>
            <a class="dropdown-item" [routerLink]="['view-versions']">View existing PDD/SDD</a>
          </div>
        </li>
        <li class="nav-item"
        >
          <a class="nav-link white-color" [routerLink]="['admin-panel']">Admin Panel</a>
        </li>
      </ul>
      <ul class="navbar-nav col-1">
        <li class="nav-item">
          <button class="btn btn-dark float-right" (click)="onLoginClick()" *ngIf="!auth.loggedIn">Login</button>
        </li>
        <li class="nav-item">
          <button class="btn btn-dark float-right" (click)="onLogoutClick()" *ngIf="auth.loggedIn">Logout</button>
        </li>
      </ul>
    </div>
  </nav>
</header>


