.btn-dark {
  float: right !important;
}

img {
  width: 70%;
}

nav {
  margin: auto;
}

.navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link {
  color: white;
  cursor: pointer;
}
