<div class="container">
  <h3>All PPDs/SDDs/CRs</h3>

<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Filter by PDD name">
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- versionName Column -->
    <ng-container matColumnDef="versionName">
      <th mat-header-cell *matHeaderCellDef > Version Name</th>
      <td mat-cell *matCellDef="let element" >
        <a [routerLink]="['./', element.versionId]">{{element.versionName}}</a>
      </td>
    </ng-container>

    <!-- versionName Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef > Sizing Date</th>
      <td mat-cell *matCellDef="let element" >
       {{element.sizingDate | date: 'MMM/yyyy'}}
      </td>
    </ng-container>

    <!-- fp Column -->
    <ng-container matColumnDef="fp">
      <th mat-header-cell *matHeaderCellDef> Total FP </th>
      <td mat-cell *matCellDef="let element" >
        {{element.totalFp}}
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

</div>
