<div style="direction: rtl;">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" [routerLink]="['ar']">TAWSILA</a><button
        class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded"
        type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
        aria-expanded="false" aria-label="Toggle navigation">Menu <i class="fas fa-bars"></i></button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
              href="ar/#portfolioar"> محفظة</a></li>
          <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
              href="ar/#aboutar">عن الشركة</a></li>
          <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
              href="ar/#contactar">كيف نعمل</a></li>
          <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
              href="ar/#safetyar">الحماية</a></li>
        </ul>
        <ul class="navbar-nav ml-auto float-right">
          <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
              [routerLink]="['login']">انضم الينا</a></li>
          <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
              [routerLink]="['/']">English</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Masthead-->
  <header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
      <!-- Masthead Avatar Image-->
      <!-- <img class="masthead-avatar mb-5" src="assets/img/avataaars.svg" alt="" /> -->
      <!-- Masthead Heading-->
      <h1 class="masthead-heading text-uppercase mb-0">الأشياء العظيمة تبدأ برحلة يعتمد عليها</h1>
      <!-- Icon Divider-->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
      </div>
      <!-- Masthead Subheading-->
      <p class="masthead-subheading font-weight-light mb-0">أفضل - أرخص - أأمن</p>
      <p class="masthead-subheading font-weight-light mb-0">وسيلة نقل يمكنك الحصول عليها.</p>
    </div>
  </header>
  <!-- Portfolio Section-->
  <section class="page-section portfolio" id="portfolioar">
    <div class="container">
      <!-- Portfolio Section Heading-->
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">المحفظة</h2>
      <!-- Icon Divider-->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
      </div>
      <!-- Portfolio Grid Items-->
      <div class="row">
        <!-- Portfolio Item 1-->
        <div class="col-md-6 col-lg-4 mb-5">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
            </div>
            <img class="img-fluid" src="assets/img/New folder/1.jpg" alt="" />
          </div>
        </div>
        <!-- Portfolio Item 2-->
        <div class="col-md-6 col-lg-4 mb-5">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
            </div>
            <img class="img-fluid" src="assets/img/New folder/2.jpg" alt="" />
          </div>
        </div>
        <!-- Portfolio Item 3-->
        <div class="col-md-6 col-lg-4 mb-5">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal3">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
            </div>
            <img class="img-fluid" src="assets/img/New folder/3.jpg" alt="" />
          </div>
        </div>
        <!-- Portfolio Item 4-->
        <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal4">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
            </div>
            <img class="img-fluid" src="assets/img/New folder/4.jpg" alt="" />
          </div>
        </div>
        <!-- Portfolio Item 5-->
        <div class="col-md-6 col-lg-4 mb-5 mb-md-0">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal5">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
            </div>
            <img class="img-fluid" src="assets/img/New folder/5.jpg" alt="" />
          </div>
        </div>
        <!-- Portfolio Item 6-->
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal6">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
            </div>
            <img class="img-fluid" src="assets/img/New folder/6.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- About Section-->
  <section class="page-section bg-primary text-white mb-0" id="aboutar">
    <div class="container">
      <!-- About Section Heading-->
      <h2 class="page-section-heading text-center text-uppercase text-white">عن الشركة</h2>
      <!-- Icon Divider-->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
      </div>
      <!-- About Section Content-->
      <div class="row">
        <div class="col-lg-8 ml-auto mr-auto">
          <p class="lead">
            توصيلة هو تطبيق المشاركة في السيارة و هو بسيط و مباشر
            المفهوم العلمي: يتشارك بعض الناس في ركوب بحيث يسافر أكثر من شخص في سيارة.
            المزايا لهذا التطبيق رائعة و اذا كنت مستخدم بالفعل فأنت تعرف كل شيء عنها
            إذا لم يكن الأمر كذلك ، فأنت
                               يجب أن تكون على علم بما هو مفقود. بعد اكتشاف ذلك ، قد تنضم إلى الشبكة.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 ml-auto">
          <p class="lead">
            تتمثل رؤيتنا في أن نصبح التطبيق الأكثر استخدامًا والأكثر موثوقية لاستخدام السيارات في العالم.
          </p>
        </div>
        <div class="col-lg-4 mr-auto">
          <p class="lead">
            مهمتنا هي أن الاستخدام الذكي للتطبيق يساعد على تجاوز توقعات المستخدمين ، وهذا سيتحسن
                               حياة الناس.
          </p>
        </div>
      </div>
      <!-- About Section Button-->
      <div class="text-center mt-4">
        <a class="btn btn-xl btn-outline-light" href="#"><i class="fas fa-download mr-2"></i>حمل التطبيق الأن!!</a>
      </div>
    </div>
  </section>
  <!-- Contact Section-->
  <section class="page-section" id="contactar">
    <div class="container">
      <!-- Contact Section Heading-->
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">كيف نعمل</h2>
      <!-- Icon Divider-->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
      </div>
      <!-- Contact Section Form-->

      <div class="row">
        <div class="col-lg-4 mx-auto">
          <div class="card" style="width: 18rem;">

            <div class="card-body">
              <h5 class="card-title">1. ارسال الرحلات</h5>
              <p class="card-text">عندما يحتاج الركاب إلى رحلة يرسلون طلبًا للسائقين المتاحين.</p>

            </div>
          </div>
        </div>
        <div class="col-lg-4 mx-auto">
          <div class="card" style="width: 18rem;">

            <div class="card-body">
              <h5 class="card-title">2. استقبال الطلبات</h5>
              <p class="card-text">يستقبل السائقون الطلبات ويقبلون الطلبات المناسبة.</p>

            </div>
          </div>
        </div>
        <div class="col-lg-4 mx-auto">
          <div class="card" style="width: 18rem;">

            <div class="card-body">
              <h5 class="card-title">3. انهاء الرحلة</h5>
              <p class="card-text">يجب على كل من السائق والراكب الضغط على إنهاء الرحلة. يحصل الراكب على إيصال للتكلفة في
                طلبه ، بعد قبول النقود سيتم تحويله من محفظته إلى محفظة السائق.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mx-auto">
          <div class="card" style="width: 18rem;">

            <div class="card-body">
              <h5 class="card-title">4. تقييم العميل</h5>
              <p class="card-text">بعد انتهاء الرحلة ، يمكن أن يساعدنا تعليقك والركاب الآخرين.</p>

            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- Contact Section-->
  <section class="page-section bg-primary" id="safetyar">
    <div class="container">
      <!-- Contact Section Heading-->
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">ضمان الحماية</h2>
      <!-- Icon Divider-->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
      </div>
      <!-- Contact Section Form-->
      <div class="row">
        <div class="col-lg-4 mx-auto">
          <div class="card" style="width: 18rem;">

            <div class="card-body">
              <h5 class="card-title">مشاركة الموقع</h5>
              <p class="card-text">يجب أن تشعر بالراحة أثناء القيادة أو القيادة ليلاً أو نهارًا. لذا يمكنك مشاركة أحبائك
                في المكان الذي ستذهب إليه ، شخص يلجأ إليه إذا حدث أي شيء.</p>

            </div>
          </div>
        </div>
        <div class="col-lg-4 mx-auto">
          <div class="card" style="width: 18rem;">

            <div class="card-body">
              <h5 class="card-title">تسجيل الرحلة</h5>
              <p class="card-text">يتم تتبع جميع رحلات Tawsila من البداية إلى النهاية ، لذلك هناك سجل لرحلتك إذا حدث شيء
                ما.</p>

            </div>
          </div>
        </div>
        <div class="col-lg-4 mx-auto">
          <div class="card" style="width: 18rem;">

            <div class="card-body">
              <h5 class="card-title">تقيم ثنائي الطرف</h5>
              <p class="card-text">ملاحظاتك مهمة. يتم تسجيل الرحلات ذات التصنيف المنخفض ، وقد تتم إزالة المستخدمين
                لحماية مجتمع Tawsila.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mx-auto">
          <div class="card" style="width: 18rem;">

            <div class="card-body">
              <h5 class="card-title">تأكيد من الرحلات</h5>
              <p class="card-text">باستخدام المستشعرات وبيانات نظام تحديد المواقع العالمي (GPS) ، يمكن أن يساعد
                RideCheck في اكتشاف ما إذا كانت الرحلة لها توقف طويل غير متوقع. إذا كان الأمر كذلك ، فسنراجعك ونقدم لك
                أدوات للحصول على المساعدة.</p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Footer-->
  <footer class="footer text-center">
    <div class="container">
      <div class="row">
        <!-- Footer Location-->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">العنوان</h4>
          <p class="lead mb-0">2215 John Daniel Drive<br />Clark, MO 65243</p>
        </div>
        <!-- Footer Social Icons-->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">تابعنا علي الانترنت</h4>
          <a class="btn btn-outline-light btn-social mx-1" href="#"><i class="fab fa-fw fa-facebook-f"></i></a><a
            class="btn btn-outline-light btn-social mx-1" href="#"><i class="fab fa-fw fa-twitter"></i></a><a
            class="btn btn-outline-light btn-social mx-1" href="#"><i class="fab fa-fw fa-linkedin-in"></i></a><a
            class="btn btn-outline-light btn-social mx-1" href="#"><i class="fab fa-fw fa-dribbble"></i></a>
        </div>
        <!-- Footer About Text-->
        <div class="col-lg-4">
          <h4 class="text-uppercase mb-4">عن توصيلة</h4>
          <p class="lead mb-0">نحن شركة جديدة تبحث عن أفضل وأرخص رحلة يمكنك الحصول عليها.</p>
        </div>
      </div>
    </div>
  </footer>
  <!-- Copyright Section-->
  <section class="copyright py-4 text-center text-white">
    <div class="container"><small>Copyright © TAWSILA 2020</small></div>
  </section>
  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
  <div class="scroll-to-top d-lg-none position-fixed">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top"><i
        class="fa fa-chevron-up"></i></a>
  </div>
  <!-- Portfolio Modals-->
  <!-- Portfolio Modal 1-->
  <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog"
    aria-labelledby="portfolioModal1Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title-->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0"></h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Image--><img class="img-fluid rounded mb-5" src="assets/img/New folder/1.jpg"
                  alt="" /><!-- Portfolio Modal - Text-->
                <p class="mb-5"></p>
                <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Close
                  Window</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Portfolio Modal 2-->
  <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog"
    aria-labelledby="portfolioModal2Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title-->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0"></h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Image--><img class="img-fluid rounded mb-5" src="assets/img/New folder/2.jpg"
                  alt="" /><!-- Portfolio Modal - Text-->
                <p class="mb-5"></p>
                <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Close
                  Window</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Portfolio Modal 3-->
  <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog"
    aria-labelledby="portfolioModal3Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title-->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0"></h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Image--><img class="img-fluid rounded mb-5" src="assets/img/New folder/3.jpg"
                  alt="" /><!-- Portfolio Modal - Text-->
                <p class="mb-5"></p>
                <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Close
                  Window</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Portfolio Modal 4-->
  <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog"
    aria-labelledby="portfolioModal4Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title-->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0"></h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Image--><img class="img-fluid rounded mb-5" src="assets/img/New folder/4.jpg"
                  alt="" /><!-- Portfolio Modal - Text-->
                <p class="mb-5"></p>
                <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Close
                  Window</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Portfolio Modal 5-->
  <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog"
    aria-labelledby="portfolioModal5Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title-->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0"></h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Image--><img class="img-fluid rounded mb-5" src="assets/img/New folder/5.jpg"
                  alt="" /><!-- Portfolio Modal - Text-->
                <p class="mb-5"></p>
                <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Close
                  Window</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Portfolio Modal 6-->
  <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog"
    aria-labelledby="portfolioModal6Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title-->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0"></h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Image--><img class="img-fluid rounded mb-5" src="assets/img/New folder/6.jpg"
                  alt="" /><!-- Portfolio Modal - Text-->
                <p class="mb-5"></p>
                <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Close
                  Window</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
