<section class="showcase" *ngIf="isEnglish">
  <div class="container-fluid p-0">
    <div class="row no-gutters">

      <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('./../../../assets/img/11.jpg');"></div>

      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>{{header.whyChooseTawsileHeader}}</h2>
        <p class="lead mb-0">{{header.whyChooseTawsileDesc}}
        </p>
      </div>

    </div>
    <div class="row no-gutters">
      <!-- <div class="col-lg-6 text-white showcase-img" style="background-image: url('./../../../assets/img/3.jpg');"></div> -->
      <video class="col-lg-6 text-white showcase-img embed-responsive" width="320" height="240" controls>
        <source src="./../../../assets/img/17.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <div class="col-lg-6 my-auto showcase-text">
        <h2>{{header.aboutTawsilaHeader}}</h2>
        <p class="lead mb-0">{{header.aboutTawsilaDesc}}
        </p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('./../../../assets/img/6.jpg');"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>Our Future Vision</h2>
        <p class="lead mb-0">To become the world's largest, safest, and most reliable ride sharing company, while still offering our unbeatable prices for our rider's. We want to improve your trip experience while saving you money! Download our app for a simple way to get from one location to the next without any worry!
        </p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 text-white showcase-img" style="background-image: url('./../../../assets/img/4.jpg');"></div>
      <!-- <video class="col-lg-6 text-white showcase-img embed-responsive" width="320" height="240" controls>
        <source src="./../../../assets/img/19.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video> -->
      <div class="col-lg-6 my-auto showcase-text">
        <h2>{{header.missionHeader}}</h2>
        <p class="lead mb-0">{{header.missionDesc}}
        </p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('./../../../assets/img/1.jpg');"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>{{header.safetyTitle}}</h2>
        <p class="lead mb-0">{{header.safetyDesc}}
        </p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 text-white showcase-img" style="background-image: url('./../../../assets/img/7.jpg');"></div>
      <div class="col-lg-6 my-auto showcase-text">
        <h2>{{header.rideCheckTitle}}</h2>
        <p class="lead mb-0">{{header.rideCheckDesc}}
        </p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('./../../../assets/img/5.jpg');"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>{{header.opinionTitle}}</h2>
        <p class="lead mb-0">{{header.opinionDesc}}
        </p>
      </div>
    </div>
  </div>
</section>

<section class="showcase" *ngIf="!isEnglish" style="direction: rtl;">
  <div class="container-fluid p-0">
    <div class="row no-gutters">

      <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('./../../../assets/img/11.jpg');"></div>

      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>{{header.whyChooseTawsileHeader}}</h2>
        <p class="lead mb-0">{{header.whyChooseTawsileDesc}}
        </p>
      </div>

    </div>
    <div class="row no-gutters">
      <!-- <div class="col-lg-6 text-white showcase-img" style="background-image: url('./../../../assets/img/3.jpg');"></div> -->
      <video class="col-lg-6 text-white showcase-img embed-responsive" width="320" height="240" controls>
        <source src="./../../../assets/img/17.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <div class="col-lg-6 my-auto showcase-text">
        <h2>{{header.aboutTawsilaHeader}}</h2>
        <p class="lead mb-0">{{header.aboutTawsilaDesc}}
        </p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('./../../../assets/img/6.jpg');"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>Our Future Vision</h2>
        <p class="lead mb-0">To become the world's largest, safest, and most reliable ride sharing company, while still offering our unbeatable prices for our rider's. We want to improve your trip experience while saving you money! Download our app for a simple way to get from one location to the next without any worry!
        </p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 text-white showcase-img" style="background-image: url('./../../../assets/img/4.jpg');"></div>
      <!-- <video class="col-lg-6 text-white showcase-img embed-responsive" width="320" height="240" controls>
        <source src="./../../../assets/img/19.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video> -->
      <div class="col-lg-6 my-auto showcase-text">
        <h2>{{header.missionHeader}}</h2>
        <p class="lead mb-0">{{header.missionDesc}}
        </p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('./../../../assets/img/1.jpg');"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>{{header.safetyTitle}}</h2>
        <p class="lead mb-0">{{header.safetyDesc}}
        </p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 text-white showcase-img" style="background-image: url('./../../../assets/img/7.jpg');"></div>
      <div class="col-lg-6 my-auto showcase-text">
        <h2>{{header.rideCheckTitle}}</h2>
        <p class="lead mb-0">{{header.rideCheckDesc}}
        </p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('./../../../assets/img/5.jpg');"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>{{header.opinionTitle}}</h2>
        <p class="lead mb-0">{{header.opinionDesc}}
        </p>
      </div>
    </div>
  </div>
</section>

