<h1>Project View</h1>
<div id="addNewItemContainer">
  <h3>Add new project</h3>
  <form [formGroup]="addNewProjectFormGroup" (ngSubmit)="add()">
    <div class="form-group">
      <label>Project Name</label>
      <input [formControl]="projectName" class="form-control" type="text">
      <div class="alert alert-danger" *ngIf="projectName.touched && projectName.invalid">
        <div *ngIf="projectName.errors.required">The project name is required</div>
      </div>
    </div>

    <div class="form-group">
      <label>Delivery Line</label>
      <select [formControl]="customer" class="form-control">
        <option *ngFor="let item of rpaTypes" [value]="item.rpaTypeId">{{item.rpaTypeName}}</option>
      </select>
      <div class="alert alert-danger" *ngIf="rpaType.touched && rpaType.invalid">
        <div *ngIf="rpaType.errors.required">The customer is required</div>
      </div>
    </div>

    <div class="form-group">
      <label>Customer</label>
      <select [formControl]="customer" class="form-control">
        <option *ngFor="let item of customers" [value]="item.customerId">{{item.customerName}}</option>
      </select>
      <div *ngIf="customer.invalid && customer.touched" class="alert alert-danger">
        <div *ngIf="customer.errors.required">The customer is required</div>
      </div>
    </div>

    <button class="float-right btn btn-primary" type="submit">Submit</button>
  </form>
</div>
<h3>Existing Projects</h3>
<div class="mat-elevation-z8">

  <table mat-table [dataSource]="dataSource">

    <!-- Project Name Column -->
    <ng-container matColumnDef="Name" class="text-center">
      <th mat-header-cell *matHeaderCellDef class="text-center"> Project Name </th>
      <td mat-cell *matCellDef="let element">
        <input class="form-control" [value]="element.projectName" #projectName
          (change)="update(element.projectId, projectName.value, element.rpaTypeId, element.customerId)">
      </td>
    </ng-container>

    <!-- Delivery Line Column -->
    <ng-container matColumnDef="RpaTye" class="text-center">
      <th mat-header-cell *matHeaderCellDef class="text-center"> Delivery Line </th>
      <td mat-cell *matCellDef="let element">
        <select [value]="element.rpaTypeId" class="form-control" #deliveryLine
        (change)="update(element.projectId, element.projectName, deliveryLine.vlaue, element.customerId)">
          <option *ngFor="let item of rpaTypes" [value]="item.rpaTypeId">{{item.rpaTypeName}}</option>
        </select>
      </td>
    </ng-container>

    <!-- Customer Column -->
    <ng-container matColumnDef="Customer" class="text-center">
      <th mat-header-cell *matHeaderCellDef class="text-center"> Customer </th>
      <td mat-cell *matCellDef="let element">
        <select [value]="element.customerId"
        (change)="update(update(element.projectId, element.projectName, element.rpaTypeId, customer.value))"
        class="form-control" #customer>
          <option *ngFor="let item of rpaTypes" [value]="item.rpaTypeId">{{item.rpaTypeName}}</option>
        </select>
      </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef class="text-center"> Delete </th>
      <td mat-cell *matCellDef="let element" class="text-center">
        <button class="btn btn-danger" (click)="delete(element.projectId)">Delete</button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
